body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {
    background-color: cadetblue;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 95px;
    overflow: auto;
    background-image: linear-gradient(to top left, rgba(250, 250, 250, 0.925), rgb(219, 227, 243));    
    z-index: 50;
}


h2{
    font-weight: 400;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}


#usuarios {
    position: absolute;
    top: 95px;
    right: 0px;
    width: 20%;    
    height: calc(90% - 95px);
    padding: 10px;
    overflow: auto;
    background-image: linear-gradient(to top left, rgba(255, 255, 255, 0.925), rgb(241, 241, 241));
    
}

#usuarios h2 {
    font-size: 15px;
    text-align: left;
    font-weight: 600;
   color: rgb(88, 88, 88);
}

#footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: calc(10% - 20px);
    width: 100%;    
    background-image: linear-gradient(to top left, rgba(255, 255, 255, 0.925), rgb(241, 241, 241));
    z-index: 20;
}

#footer input {
    position: absolute;
    left: 2%;
    top: 30%;
    width: 72%;
}

#enviar {
    position: absolute;
    right: 0%;
    top: 10%;
    width: 20%;
}

#msg-box {
    position: absolute;
    top: 95px;
    left: 0%;
    width: calc(80% - 40px);
    padding: 10px;
    height: 80%;
    overflow: auto;
}

.msg-card {
    padding: 10px;
    margin-left:1%;
    width: 95%;
    border-bottom: 2px solid rgba(149, 149, 149, 0.339);
    
   
}

.msg-card h2{
    font-size: 14px;
    font-weight: 500;
    color: rgb(81, 81, 81);
    
}

.msg-card h3{
    font-size: 11px;
    font-weight: 500;
}

#login-back{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 62, 62, 0.537);
    z-index: 52;
    display: block;
}
#login{
    position: absolute;
    top : 30%;
    left: 50%;
    width: 230px;
    margin-left: -125px;
    background-image: linear-gradient(to top left, rgba(255, 255, 255, 0.925), rgba(234, 236, 246, 0.891));   
    padding: 10px;
    box-shadow: 2px 2px 2px 2px rgba(180, 179, 178, 0.489);   

}

input{
    width: calc(100% - 10px);
    border: none;
    height: 25px;
    outline: none;
    margin: 5px;
    background-color: rgba(235, 238, 241, 0.693);
    box-shadow: 2px 2px 2px 2px rgba(180, 179, 178, 0.489) ;
}

button{
    width: 100px;
    border: none;
    height: 25px;
    outline: none;
    margin: 5px;
    background-image: linear-gradient(to top left, rgba(209, 207, 207, 0.925), rgba(185, 193, 233, 0.891)); 
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(180, 179, 178, 0.489) ;
    
}

#logo{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 130px;
}
#logo-label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 200px;
    font-size: 20px;
    color: rgb(131, 131, 131);
}

button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 700;    
    font-size: 12px;
    color: rgba(18, 143, 22, 0.795);
}

.digitando{
    color : green;
    font-size : 11px;
}